* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.body {
    width: 1440px;
    margin: 0 auto;
}

.header {
    font-family: 'Inika', serif;
    width: 100%;
    background-color: #EDF2EC;
}

.wrapper {
    padding-left: 109px;
    padding-right: 109px;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 42px;
}

.logo {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #010201;
}

.logo__image {
    margin-left: 1px;
}

.navigation {
    display: flex;
    gap: 46px;
    line-height: 50px;
    font-size: 16px;
}

.link {
    color: #010201;
    text-decoration: none;
    cursor: pointer;
}

.navigation__link_active {
    color: #E06733;
    font-weight: 700;
}

.main {
    width: 100%;
}

.welcome {
    background-color: #EDF2EC;
}

.welcome__wrapper {
    padding-top: 62px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome__image {
    width: 448.8px;
    height: 407.36px;
    flex-shrink: 0;
}

.welcome__content {
    flex-basis: 549px
}

.welcome__header {
    margin-top: 36px;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    color: #717171;
}

.text_green {
    color: #499A18;
}

.text_orange {
    color: #E06733;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #636060;
}

.welcome__text {
    margin-top: 44px;
    line-height: 35px;
}
.welcome__link_wrapper {
    margin-top: 59px;
}
.welcome__link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000;
    padding: 10px 26px;
    border: 2px solid #E06733;
    border-radius: 10px;
}

.welcome__link:hover {
    color: #FFF;
    background-color: #E06733;
    transition: 0.3s;
}

.about__wrapper {
    padding-top: 93px;
    padding-bottom: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_inika {
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.about__content {
    flex-basis: 605px;
}

.about__header {
    margin-top: 69px;
    width: 465px;
}

.about__text {
    line-height: 30px;
    margin-top: 38px;
}

.about__image {
    width: 464px;
    height: 479px;
}