* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.body {
  width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.header {
  font-family: 'Inika', serif;
  background-color: #EDF2EC;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
}

.wrapper {
  padding-left: 109px;
  padding-right: 109px;
}

.logo {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #010201;
}

.logo__image {
  margin-left: 1px;
}

.navigation {
  display: flex;
  gap: 46px;
  line-height: 50px;
  font-size: 16px;
}

.link {
  color: #010201;
  text-decoration: none;
  cursor: pointer;
}

.navigation__link_active {
  color: #E06733;
  font-weight: 700;
}

.link:hover {
  color: #E06733;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.main {
  width: 100%;
}

.welcome {
  background-color: #EDF2EC;
}

.layout-2-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome {
  padding-top: 62px;
  padding-bottom: 62px;
}

.welcome__image {
  width: 448.8px;
  height: 407.36px;
  flex-shrink: 0;
}

.welcome__content {
  flex-basis: 549px
}

.welcome__header {
  margin-top: 36px;
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: #717171;
}

.text_green {
  color: #499A18;
}

.text_orange {
  color: #E06733;
}

.text {
  font-size: 20px;
  color: #636060;
}

.welcome__text {
  margin-top: 44px;
  line-height: 35px;
}

.welcome__link_wrapper {
  margin-top: 59px;
}

.welcome__link {
  font-size: 16px;
  color: #000;
  padding: 10px 26px;
  border: 2px solid #E06733;
  border-radius: 10px;
}

.welcome__link:hover {
  color: #FFF;
  background-color: #E06733;
  transition: 0.3s;
}

.about {
  padding-top: 93px;
  padding-bottom: 94px;
}

.header_inika {
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.about__content {
  flex-basis: 605px;
}

.about__header {
  margin-top: 69px;
  width: 465px;
}

.about__text {
  line-height: 30px;
  margin-top: 38px;
}

.about__image {
  width: 464px;
  height: 479px;
}

.service {
  background-color: #EDF2EC;
  padding-top: 41px;
  padding-bottom: 121px;
}

.service__header {
  display: flex;
  flex-direction: row;
  gap: 142px;
}

.service__title {
  display: block;
  width: 306px;
}

.buttons__layout {
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  gap: 38px;
}

.button_orange {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Inika', serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
}

.button_orange:hover {
  color: #FFF;
  background-color: #E06733;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.service__button {
  background-color: #EDF2EC;
  width: 161px;
  height: 50px;
}

.cards__layout {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 116px;
  row-gap: 55px;
}

.card {
  width: 330px;
  border-radius: 20px;
}

.card:hover {
  cursor:pointer;
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.card__image {
  display: block;
  width: 100%;
  height: 350px;

}

.card__description {
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 34px;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.card__text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.prices {
  color: #000000;
  padding-top: 39px;
  padding-bottom: 108px;
}

.prices__title {
  font-size: 40px;
  line-height: 48px;
}

.accordion__wrapper {
  margin-top: 60px;
  padding: 33px 40px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.accordion__item {
  width: 170px;
  border-radius: 20px;
  padding: 0px 40px;
}

.accordion__item:hover {
  cursor: pointer;
  background: #D6E7D2;
  transition: all 0.3s ease-in-out;
}

.accordion__item_hide {
  background: #EDF2EC;
}

.accordion__item_active {
  background-color: #D6E7D2;
}

.accordion__header {
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow_hide {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./assets/svg/accordion_btn_hide.svg);
}

.arrow_active {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./assets/svg/accordion_btn_active.svg);
}

.accordion__content {
  padding-bottom: 11px;
  font-size: 0;
}

.accordion__content_hide {
  display: none;
}

.accordion__line {
  display: inline-block;
  width: 97%;
  height: 0.5px;
  background-color: #AEA1A1;
  position: relative;
  bottom: 5px;
}

.accordion__text {
  margin-top: 1px;
  margin-bottom: 6px;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}

.accordion__price {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.accordion__price_highlight {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #E06733;
}

.accordion__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  margin-top: 7px;
  padding: 3px 23px;
  border: none;
  background: #FFFFFF;
  border-radius: 10px;
}

.prices__right-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.prices__text {
  width: 455px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
}

.prices__button_wrapper {
  margin-top: 40px;
}

.prices__button {
  padding: 11px 32px;
  background-color: #FFF;
}

.prices__image {
  display: block;
  width: 166px;
  margin-top: 34px;
  position: relative;
  left: 9px;
}

.contacts {
  background-color: #EDF2EC;
  padding-top: 53px;
  display: grid;
  grid-template-columns: 450px 1fr 450px;
}

.contacts__image {
  width: 400px;
  justify-self: start;
}

.contacts__header {
  justify-self: center;
  margin-top: 7px;
  font-family: 'Inika', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.contacts__info {
  font-weight: 400;
}

.dropdown__wrapper {
  justify-self: stretch;
  margin-top: 95px;
}

.dropdown__header {
  font-size: 20px;
  line-height: 40px;
  color: #717171;
  padding: 5px 35px 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown__header:hover {
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.header_inactive {
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__arrow {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("./assets/svg/dropdown_btn.svg");
}

.dropdown__content {
  padding: 32px 50px 31px 20px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05em;
  background-color: #DCE9D9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.content__item {
  color: #499A18;
  padding-left: 6px;
  border-bottom: 1px solid #D9D9D9;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.content__item:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.dropdown__inactive {
  display: none;
}


.info {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 32px 33px;
  margin-top: 47px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.info_unactive {
  display: none;
}

.info__wrapper {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  width: 100%;
  display: grid;
  grid-template-columns: 135px 1fr;
  justify-items: start;
  align-items: stretch;
}

.info__line {
  color: #000000;
}

.info__value {
  color: #717171;
}

.phone__link {
  font-family: 'Inika', serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #717171;
  text-decoration: none;
  padding: 5px 43px;
  border: 1px solid #E06733;
  border-radius: 5px;
}

.footer {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.layout_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social__link {
  text-align: center;
}

.icon__social {
  display:inline-block;
  width: 32px;
  height: 32px;
}
